# ==========================================================
# Editor
# ==========================================================

*.swp
*.swo
*~
Session.vim
.nvimlog

# ==========================================================
# Sistema
# ==========================================================

.DS_Store
Thumbs.db

# ==========================================================
# Logs
# ==========================================================

*.log

# ==========================================================
# Cache
# ==========================================================

.cache/
.cache/**
**/.cache/
**/cache/

# ==========================================================
# Históricos
# ==========================================================

**/fish_history
**/history
**/recently-used.xbel

# ==========================================================
# Temporários
# ==========================================================

*.tmp
*.bak
*.orig

# ==========================================================
# Variáveis de ambiente
# ==========================================================

.env
.env.*
!.env.example

# ==========================================================
# Chaves e certificados
# ==========================================================

*.pem
*.key
*.p12
*.pfx

# ==========================================================
# Secrets
# ==========================================================

secrets/
private/
credentials/
**/fish_variables

# Fisher generated files
fish/.config/fish/conf.d/sdk.fish
fish/.config/fish/completions/fisher.fish
fish/.config/fish/completions/sdk.fish
fish/.config/fish/functions/fisher.fish
fish/.config/fish/functions/sdk.fish
fish/.config/fish/functions/__sdkman-noexport-init.sh
