// Noctalia's wallpaper stays fixed behind Niri's scrollable workspaces.
layer-rule {
    match namespace="^noctalia-wallpaper"
    place-within-backdrop true
}

window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
}

window-rule {
    match app-id="dev.noctalia.Noctalia"
    open-floating true
    default-column-width { fixed 1080; }
    default-window-height { fixed 920; }
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

// Kitty uses transparency.
// Prevent Niri's focus ring/border background from showing
// through the transparent terminal background.
window-rule {
    match app-id=r#"^kitty$"#
    draw-border-with-background false
}

debug {
    // Required for notification actions and window activation from Noctalia.
    honor-xdg-activation-with-invalid-serial
}
